* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}




/* 상단 */
#wrap {
    width: 100%;
    display: block;
}

#header {
    width: 100%;
    height: 100px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 0.5s;
}

#header.on {
    background-color: rgba(255, 255, 255, 0.838);
    border-bottom: 1px solid #ccc;
}

#header .header_in {
    margin: 0 auto;
    width: 1200px;
    height: 90px;
}

#header .logo {
    float: left;
    width: 200px;
    height: 100px;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
}

#header .nav {
    float: right;
}

#header .nav ul {}

#header .nav li {
    float: left;
    margin: 50px 50px 0 0;
}

#header .nav li:last-child {
    margin-right: 0;
}

#header .nav a {
    font-size: 20px;
    color: #000;
    transition: all 0.5s;
}

#main {
    width: 100%;
}

#main .home {
    width: 100%;
    height: 100vh;
}

#main .home img {
    width: 100%;
    height: 100vh;
    position: relative;
}

#main .home_in {
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    margin: 150px 0 0 200px;
}

#main .home_in h2 {
    margin-top: 400px;
    font-size: 80px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

#main .home p {
    font-size: 16px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}








/* 프로필 */
#profile {
    width: 100%;
    height: 100vh;
    background-color: azure;
}

#profile h2 {
    font-size: 70px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 100px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#profile .profile_img {
    float: left;
    margin: 50px 0 0 270px;
    width: 400px;
    height: 500px;
    position: relative;
}

#profile .profile_img img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 600px;
    border-radius: 50% 25%;
}

#profile .history {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 1180px;
    left: 950px;
}

#profile .history h3 {
    font-size: 20px;
    text-align: center;
    margin: 50px 0 20px 0;
}

#profile .history p {
    margin: 0 auto;
    width: 600px;
    font-size: 16px;
    color: #000;
    line-height: 30px;

}









/* skill */
#skill {
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 255, 227);
}

#skill h2 {
    font-size: 70px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 60px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#skill .skill_box {
    margin: 0 auto;
    width: 1200px;
    height: 650px;
    /* background-color: #f54949; */
}

#skill .skill_box ul {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: antiquewhite; */
}

#skill .skill_box li {
    float: left;
    width: 500px;
    height: 300px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 30%;
    line-height: 25px;
    background-color: rgb(255, 255, 150);
}

#skill .skill_box h4 {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

#skill .skill_box p {
    font-size: 16px;
    padding-top: 20px;
    box-sizing: border-box;
}

#skill .skill_box .name {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

#skill .skill_box .text {
    margin-top: 25px;
    font-family: 'Sunflower', sans-serif;
    font-family: 'Sunflower', sans-serif;
    color: #000;
}











/* #skill .list {
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    height: 600px;
    border: 5px solid #fff;
    border-radius: 10px;
}

#skill .list_in {
    width: 500px;
    height: 400px;
    margin: 120px 0 0 120px;
    display: flex;
    flex-direction: column;
}

#skill .list_in li {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skill .list_in li>div {
    width: 400px;
    height: 50px;
    font-weight: 300;
    color: #666;
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#skill .list_in .box {
    position: absolute;
    right: 400px;
    width: 400px;
    height: 60px;
    padding: 15px 0 0 10px;
    box-sizing: border-box;
    background-color: aquamarine;
}

#skill .list_in .box p {
    float: right;
}

#skill .list_in h5 {
    font-size: 25px;
} */









/* project */
#project {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 200);
}

#project h2 {
    font-size: 70px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 100px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#project .project_in {}

#project .project_in ul {}

#project .project_in .box01 {
    margin: 130px 80px 0 400px;
    float: left;
    width: 500px;
    height: 450px;
}

#project .project_in .box01:last-child {
    margin: 60px 0 0 0;
    border: 0;
    background-color: transparent;
    border-radius: 0;
}

#project .box02 {
    padding: 60px 15px 10px 20px;
    box-sizing: border-box;
    line-height: 28px;
}

#project .box02:first-child {
    padding-top: 20px;
}

#project li h3 {
    font-size: 25px;
    margin-top: 10px;
    font-family: 'Arimo', sans-serif;
}

#project li p {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Arimo', sans-serif;
}

#project li a {
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    padding: 5px 20px;
    margin-right: 10px;
    color: rgb(252, 151, 151);
}

#project .background {
    position: relative;
}

#project .project_in .monitor {
    margin-top: 100px;
    max-width: 500px;
}

#project .project_in .monitor_in {
    position: absolute;
    top: 115px;
    left: 15px;
    width: 470px;
    height: 230px;
    overflow: hidden;
}

#project .project_in .monitor_in ul {
    width: 470px;
    height: 230px;
    position: relative;
}

#project .project_in .monitor_in ul li:nth-child(1) {
    position: absolute;
    top: 0px;
    left: 0%;
}

#project .project_in .monitor_in ul li:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 100%;
}

#project .monitor_in img {
    display: block;
    width: 470px;
}

#project .koreanair {
    position: absolute;
    top: 120px;
    left: 0;
    max-width: 470px;
    height: auto;
}

#project .twosome {
    height: 231px;
    position: absolute;
    top: 113px;
    left: 485px;
}







/* contact */
#contact {
    width: 100%;
    height: 740px;
}

#contact h2 {
    font-size: 70px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 140px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#contact>div {
    width: 800px;
    margin: 0 auto;
}

#contact>div>form {
    margin: 50px 0 0 250px;
}

.field {
    width: 100%;
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input {
    display: block;
    min-width: 300px;
    min-height: 30px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #f54949;
    color: #fff;
    border: none
}







/* finish */
#finish {
    width: 100%;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#finish>div {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Arimo', sans-serif;
    color: rgb(24, 24, 24);
}

#wrap480 {
    display: none;
}



@media screen and (max-width:1200px) {
    #wrap {
        width: 100%;
    }

    #header {
        width: 100%;

    }

    #header .header_in {
        margin: 0 auto;
        width: 80%;
        height: 90px;
    }








    #main .home_in {
        float: right;
        position: absolute;
        top: 0;
        left: 0;
        margin: 150px 0 0 10%;
    }

    #main .home_in h2 {
        margin-top: 400px;
        font-size: 6vw;
        color: #fff;
        font-family: 'Kanit', sans-serif;
    }









    #profile .profile_img {
        float: left;
        margin: 80px 0 0 6vw;
        /* 50 0 0 270 */
        height: 500px;
        position: relative;
    }

    #profile .profile_img img {
        position: absolute;
        top: 30px;
        left: 0;
        max-width: 400px;
        /* 600px */
        border-radius: 50% 25%;
    }

    #profile .history {
        width: 50%;
        /* 600px */
        height: 600px;
        position: absolute;
        top: 1200px;
        left: 45%;
    }

    #profile .history h3 {
        font-size: 1.6vw;
        text-align: center;
        margin: 50px 0 20px 0;
    }

    #profile .history p {
        margin: 0 auto;
        width: 500px;
        font-size: 1.25vw;
        color: #000;
        line-height: 30px;
    }










    #skill .list_in {
        width: 500px;
        height: 400px;
        margin: 70px 0 0 120px;
        display: flex;
        flex-direction: column;
    }

    #skill .list {
        margin: 0 auto;
        margin-top: 50px;
        width: 800px;
        height: 500px;
        border: 5px solid #fff;
        border-radius: 10px;
    }






    #project .project_in .box01 {
        margin: 130px 80px 0 50px;
        float: left;
        width: 500px;
        height: 450px;
    }

}





@media screen and (max-width:1000px) {
    #wrap {
        width: 100%;
    }

    #header {
        width: 100%;

    }

    #header .header_in {
        margin: 0 auto;
        width: 80%;
        height: 90px;
    }








    #main .home_in {
        float: right;
        position: absolute;
        top: 0;
        left: 0;
        margin: 150px 0 0 10%;
    }

    #main .home_in h2 {
        margin-top: 400px;
        font-size: 6vw;
        color: #fff;
        font-family: 'Kanit', sans-serif;
    }









    #profile .profile_img {
        float: left;
        margin: 80px 0 0 20px;
        height: 500px;
        position: relative;
    }

    #profile .profile_img img {
        position: absolute;
        top: 30px;
        left: 0;
        max-width: 400px;
        /* 600px */
        border-radius: 50% 25%;
    }

    #profile .history {
        width: 600px;
        /* 600px */
        height: 600px;
        position: absolute;
        top: 1200px;
        left: 400px;
    }

    #profile .history h3 {
        font-size: 16px;
        text-align: center;
        margin: 50px 0 20px 0;
    }

    #profile .history p {
        margin: 0 auto;
        width: 500px;
        font-size: 12px;
        color: #000;
        line-height: 30px;
    }









    #skill {
        width: 100%;
        height: 90vh;
    }

    #skill .list_in {
        width: 500px;
        height: 400px;
        margin: 70px 0 0 120px;
        display: flex;
        flex-direction: column;
    }

    #skill .list {
        margin: 0 auto;
        margin-top: 50px;
        width: 800px;
        height: 500px;
        border: 5px solid #fff;
        border-radius: 10px;
    }








    #project {
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 200);
    }

    #project h2 {
        font-size: 70px;
        text-align: center;
        color: rgb(62, 62, 62);
        padding-top: 100px;
        box-sizing: border-box;
        font-family: 'Arimo', sans-serif;
    }

    #project .project_in {}

    #project .project_in ul {}

    #project .project_in .box01 {
        margin: 100px 40px 0 60px;
        float: left;
        width: 40%;
        height: 450px;
    }

    #project .project_in .box01:last-child {
        margin: 60px 0 0 0;
        border: 0;
        background-color: transparent;
        border-radius: 0;
    }

    #project .box02 {
        padding: 60px 0 10px 20px;
        box-sizing: border-box;
        line-height: 23px;
    }

    #project .box02:first-child {
        padding-top: 20px;
    }

    #project li h3 {
        font-size: 2.1vw;
        margin-top: 10px;
        font-family: 'Arimo', sans-serif;
    }

    #project li p {
        width: 95%;
        font-size: 1.3vw;
        margin-bottom: 5px;
        font-family: 'Arimo', sans-serif;
    }

    #project li a {
        border: 1px solid #ccc;
        font-size: 1.16vw;
        font-family: 'Arimo', sans-serif;
        padding: 3px 15px;
        margin-right: 5px;
        color: rgb(252, 151, 151);
    }

    #project .background {
        position: relative;
    }

    #project .project_in .monitor {
        margin-top: 100px;
        max-width: 400px;
    }

    #project .project_in .koreanair {
        position: absolute;
        top: 120px;
        left: 15px;
        max-width: 370px;
    }
}