* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}



@media all and (max-width: 480px) {}

#wrap480 {
    width: 100%;
    display: block;
}

#header {
    width: 100%;
    height: 100px;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 0.5s;
}

#header.on {
    background-color: rgba(255, 255, 255, 0.838);
    border-bottom: 1px solid #ccc;
}

#header .header_in {
    width: 95%;
}

#header .logo {
    margin: 5px 0 0 5px;
    width: 200px;
    height: 60px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}

#header .nav {
margin-right: 25px;
}

#header .nav ul {}

#header .nav li {
    float: left;
    margin: 0 25px 0 0;
}

#header .nav li:last-child {
    margin-right: 0;
}

#header .nav a {
    font-size: 20px;
    color: #000;
    transition: all 0.5s;
}











/* main */
#main {
    width: 100%;
}

#main img {
    max-width: 600px;
    max-height: 400px;
    height: auto;
}

#main .home {
    width: 100%;
    height: 400px;
}

#main .home_in {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    margin: 230px 0 0 30px;
}

#main .home_in h2 {
    margin-top: 0;
    font-size: 30px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

#main .home p {
    font-size: 12px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}











/* 프로필 */
#profile {
    width: 100%;
    height: 100vh;
    background-color: azure;
    position: relative;
}

#profile h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 20px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#profile .profile_img {
    float: left;
    margin: 20px 0 0 60px;
    width: 200px;
    height: 300px;
}

#profile .profile_img img {
    max-width: 350px;
    border-radius: 50% 25%;
}

#profile .profile_img li {}

#profile .profile_img li:last-child {
    margin-top: 0;
}

#profile .history {
    width: 100%;
    height: auto;
    position: absolute;
    top: 450px;
    left: 0;
}

#profile .history h3 {
    font-size: 3vw;
    text-align: center;
}

#profile .history p {
    width: 100%;
    font-size: 2.5vw;
    color: #000;
    line-height: 22px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}






/* skill */
#skill {
    width: 100%;
    height: 670px;
    background-color: rgb(241, 255, 227);
}

#skill h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 20px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#skill .list {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 500px;
    border: 5px solid #fff;
    border-radius: 10px;
}

#skill .list_in {
    width: 350px;
    height: 400px;
    margin: 70px 0 0 0;
}

#skill .list_in li {

    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skill .list_in li>div {
    width: 270px;
    height: 50px;
    font-weight: 300;
    color: #666;
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#skill .list_in .box {
    position: absolute;
    right: 400px;
    width: 270px;
    height: 50px;
    padding: 15px 0 0 15px;
    box-sizing: border-box;
    background-color: aquamarine;
}

#skill .list_in .box p {
    float: right;
}

#skill .list_in h5 {
    margin-left: 15px;
    font-size: 15px;
}







/* project */
#project {
    width: 100%;
    height:900px;
    background-color: rgb(255, 255, 200);
}

#project h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 20px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#project .project_in {}

#project .project_in ul {}

#project .project_in .box01 {
    margin: 40px 0 0 20px;
    width: 90%;
    height: 370px;
    border: 3px solid rgb(249, 195, 241);
    border-radius: 5px;
}

#project .project_in .box01:last-child {
    margin: 60px 0 0 0;
    border: 0;
    background-color: transparent;
    border-radius: 0;
}

#project .box02 {
    /* padding: 60px 15px 10px 20px;
    box-sizing: border-box; */
    line-height: 20px;
}

#project .box02:first-child {
    padding-top: 20px;
}

#project li h3 {
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Arimo', sans-serif;
}

#project li p {
    font-size: 12px;
    margin-bottom: 10px;
    font-family: 'Arimo', sans-serif;
}

#project li a {
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    padding: 5px 20px;
    box-sizing: border-box;
    margin-right: 10px;
    color: rgb(252, 151, 151);
}

#project .background {
    position: relative;
}

#project .project_in .monitor {
    margin-top: -30px;
    margin-left: 20px;
    max-width: 440px;
}

#project .project_in .koreanair {
    position: absolute;
    top: -16px;
    left: 30px;
    max-width: 420px;
}








/* contact */
#contact {
    width: 100%;
    height: 430px;
}

#contact h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#contact>div>form {
    margin: 0 auto;
    padding-left: 90px;
    box-sizing: border-box;
    width: 100%;
}

.field {
    width: 100%;
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input {
    display: block;
    min-width: 300px;
    min-height: 30px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #f54949;
    color: #fff;
    border: none
}








/* finish */
#finish {
    width: 100%;
    height: 150px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#finish>div {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Arimo', sans-serif;
    color: rgb(24, 24, 24);
}

#wrap {
    display: none;
}