* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}




/* 상단 */
#wrap {
    width: 100%;
}

#header {
    width: 100%;
    height: 100px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 0.5s;
}

#header.on {
    background-color: rgba(255, 255, 255, 0.838);
    border-bottom: 1px solid #ccc;
}

#header .header_in {
    margin: 0 auto;
    width: 1200px;

}

#header .logo {
    float: left;
    width: 200px;
    height: 100px;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
}

#header .nav {
    float: right;
}

#header .nav ul {}

#header .nav li {
    float: left;
    margin: 50px 50px 0 0;
}

#header .nav li:last-child {
    margin-right: 0;
}

#header .nav a {
    font-size: 20px;
    color: #000;
    transition: all 0.5s;
}

#main {
    width: 100%;
}

#main .home {
    width: 100%;
    height: 100vh;
}

#main .home img {
    width: 100%;
    height: 100vh;
    position: relative;
}

#main .home_in {
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    margin: 150px 0 0 200px;
}

#main .home_in h2 {
    margin-top: 400px;
    font-size: 80px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

#main .home p {
    font-size: 16px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}








/* 프로필 */
#profile {
    width: 100%;
    height: 100vh;
    background-color: azure;
}

#profile h2 {
    font-size: 70px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 100px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#profile .profile_img {
    float: left;
    margin: 50px 0 0 400px;
    width: 400px;
    height: 500px;
}

#profile .profile_img img {
    margin-left: -130px;
    max-width: 600px;
    border-radius: 50% 25%;
}

#profile .profile_img li {}

#profile .profile_img li:last-child {
    margin-top: 0;
}

#profile .history {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 1180px;
    left: 950px;
    /* border: 2px solid #000; */
}

#profile .history h3 {
    font-size: 20px;
    text-align: center;
    margin: 50px 0 20px 0;
}

#profile .history p {
    margin: 0 auto;
    width: 600px;
    font-size: 16px;
    color: #000;
    line-height: 30px;

}









/* skill */
#skill {
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 255, 227);
}

#skill h2 {
    font-size: 70px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 100px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#skill .list {
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    height: 600px;
    border: 5px solid #fff;
    border-radius: 10px;
}

#skill .list_in {
    width: 500px;
    height: 400px;
    margin: 120px 0 0 120px;
    display: flex;
    flex-direction: column;
}

#skill .list_in li {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skill .list_in li>div {
    width: 400px;
    height: 50px;
    font-weight: 300;
    color: #666;
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#skill .list_in .box {
    position: absolute;
    right: 400px;
    width: 400px;
    height: 60px;
    padding: 15px 0 0 10px;
    box-sizing: border-box;
    background-color: aquamarine;
}

#skill .list_in .box p {
    float: right;
}

#skill .list_in h5 {
    font-size: 25px;
}









/* project */
#project {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 200);
}

#project h2 {
    font-size: 70px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 100px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#project .project_in {}

#project .project_in ul {}

#project .project_in .box01 {
    margin: 130px 80px 0 400px;
    float: left;
    width: 500px;
    height: 450px;
}

#project .project_in .box01:last-child {
    margin: 60px 0 0 0;
    border: 0;
    background-color: transparent;
    border-radius: 0;
}

#project .box02 {
    padding: 60px 15px 10px 20px;
    box-sizing: border-box;
    line-height: 28px;
}

#project .box02:first-child {
    padding-top: 20px;
}

#project li h3 {
    font-size: 25px;
    margin-top: 10px;
    font-family: 'Arimo', sans-serif;
}

#project li p {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Arimo', sans-serif;
}

#project li a {
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    padding: 5px 20px;
    margin-right: 10px;
    color: rgb(252, 151, 151);
}

#project .background {
    position: relative;
}

#project .project_in .monitor {
    margin-top: 100px;
    max-width: 500px;
}

#project .project_in .koreanair {
    position: absolute;
    top: 120px;
    left: 15px;
    max-width: 470px;
}





/* contact */
#contact {
    width: 100%;
    height: 740px;
}

#contact h2 {
    font-size: 70px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 140px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#contact>div>form {
    margin: 50px 0 0 250px;
}

.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input {
    display: block;
    min-width: 300px;
    min-height: 30px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #f54949;
    color: #fff;
    border: none
}







/* finish */
#finish {
    width: 100%;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#finish>div {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Arimo', sans-serif;
    color: rgb(24, 24, 24);
}

#wrap480{
    display: none;
}
#wrap{
    display: block;
}

