* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

#header {
    width: 100%;
    height: 90px;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 0.5s;
}

#header.on {
    background-color: rgba(255, 255, 255, 0.838);
    border-bottom: 1px solid #ccc;
}

#header .header_in {
    width: 90%;
    height: 90px;
}

#header .logo {
    margin: 0;
    width: 100%;
    height: 50px;
    padding: 5px 0 0 10px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}

#header .nav {
    float: none;
    width: 100%;
}

#header .nav ul {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    /* background-color: violet; */
}

#header .nav li {
    float: none;
    margin: 0;
}

#header .nav li:last-child {
    margin-right: 0;
}

#header .nav a {
    font-size: 20px;
    color: #000;
    transition: all 0.5s;
    /* background-color: wheat; */
}











/* main */
#main {
    width: 100%;
}

#main img {
    max-width: 600px;
    max-height: 400px;
    height: auto;
}

#main .home {
    width: 100%;
    height: 400px;
}

#main .home_in {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    margin: 230px 0 0 30px;
}

#main .home_in h2 {
    margin-top: 0;
    font-size: 30px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

#main .home p {
    font-size: 12px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}











/* 프로필 */
#profile {
    width: 100%;
    height: 850px;
    position: relative;
    background-color: azure;
}

#profile h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(62, 62, 62);
    margin-bottom: 50px;
    padding-top: 20px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#profile .link_box {
    display: inline-block;
    margin: 660px 0 0 180px;
    position: absolute;
    align-items: flex-end;
}

#profile .link_box li {
    margin-right: 30px;
}

#profile .git img {
    width: 40px;
}

#profile .git p {
    font-size: 12px;
    margin: 10px 2px;
}

#profile .blog img {
    width: 40px;
}

#profile .blog p {
    font-size: 12px;
    margin: 10px 8px;
}

#profile .profile_img {
    float: none;
    margin: 0;
    width: 100%;
    height: auto;
}

#profile .profile_img img {
    position: unset;
    display: block;
    margin: 0 auto;
    width: 350px;
    border-radius: 50% 25%;
}

#profile .history {
    width: 100%;
    height: auto;
    position: unset;
}

#profile .history h3 {
    font-size: 3vw;
    text-align: center;
}

#profile .history p {
    width: 100%;
    font-size: 2.5vw;
    color: #000;
    line-height: 22px;
    padding: 10px 10px 30px 10px;
    box-sizing: border-box;
    text-align: center;
}






/* 스킬 */
#skill {
    width: 100%;
    height: 1000px;
    background-color: rgb(241, 255, 227);
}

#skill h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding-top: 20px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#skill .skill_in {
    height: 880px;
}

#skill .skill_box {
    margin: 0 auto;
    width: 90%;
    height: auto;
    /* background-color: #f54949; */
}

#skill .skill_box ul {
    width: 100%;
    height: 200px;
    margin-top: 0;
}

#skill .skill_box li {
    width: 90%;
    padding: 0;
}

#skill .skill_box h4 {
    font-size: 16px;
}

#skill .skill_box p {
    font-size: 14px;
}

#skill .skill_box .name {
    font-size: 16px;
}

#skill .skill_box .text {
    margin-top: 0;
    font-family: 'Poor Story', cursive;
    color: #000;
}

#skill .list {
    margin: 0 auto;
    margin-top: 0;
    width: 80%;
    height: 430px;
    border-radius: 10px;
}

#skill .list_in {
    width: 350px;
    height: 400px;
    margin: 30px 0 0 30px;
}

#skill .list_in li {

    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skill .list_in li>div {
    width: 270px;
    height: 50px;
    font-weight: 300;
    color: #666;
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#skill .list_in .box {
    position: absolute;
    right: 400px;
    width: 270px;
    height: 50px;
    padding: 15px 0 0 15px;
    box-sizing: border-box;
    background-color: aquamarine;
}

#skill .list_in .box p {
    float: right;
}

#skill .list_in h5 {
    margin-left: 15px;
    font-size: 15px;
}







/* 프로젝트 */
#project {
    height: 1200px;
}

#project h2 {
    font-size: 30px;
}

#project_in {
    width: 90%;
    height: 1000px;
}

#project_in>ul>li {
    width: 432px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

#project_in .txt_box {
    margin-top: 30px;
    width: 90%;
}

#project_in .img_box {
    width: 90%;
    height: 500px;
}




/* contact */
#contact {
    width: 100%;
    height: 430px;
}

#contact h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(62, 62, 62);
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

#contact>div {
    width: 100%;
}

#contact #form {
    margin: 0 auto;
    padding-left: 90px;
    box-sizing: border-box;
    width: 100%;
}

.field {
    width: 300px;
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input {
    display: block;
    width: 300px;
    min-width: unset;
    min-height: 30px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #f54949;
    color: #fff;
    border: none
}

#contact .git {
    margin: -10% 0 0 0;
    position: relative;
}

#contact .git img {
    float: right;
    margin-right: 20px;
    width: 50px;
}

#contact .git p {
    float: right;
    font-size: 14px;
    padding: 50px -30px 0 30px;
    box-sizing: border-box;
    position: absolute;
    top: -20px;
    right: 32px;
}








/* 하단 */
#finish {
    width: 100%;
    height: 150px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#finish>div {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Arimo', sans-serif;
    color: rgb(24, 24, 24);
}